@import '@/styles/mixins';

.sidebar_logo_wrapper {
  padding: 20px;
  color: #fff;
  @include flexBox(center);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  p {
    margin-left: 10px;
    margin-bottom: 0;
    font-family: 'Lexend';
  }
}
