@import '@/styles/variables';
@import '@/styles/mixins';
.header {
  @include flexBox(space-between);
  background-color: var(--header-bg-color);
  box-shadow: var(--box-shadow);
}

.account {
  @include flexBox(flex-end);
  width: 100%;
  padding-right: 30px;
  div {
    margin-right: 20px;
  }
  .user {
    img {
      width: 40px;
      height: 40px;
    }
    .ant-dropdown-menu .ant-dropdown-menu-title-content > a:hover {
      color: var(--primary-text-color) !important;
      &:hover {
        color: var(--primary-text-color) !important;
      }
    }
  }
  .name {
    color: var(--primary-text-color) !important;
    p {
      margin: 0;
    }
  }
  .private {
    @include flexBox(null);
    color: var(--primary-text-color) !important;
    button {
      height: 50px;
      background-color: transparent;
      border: none;
    }
    img {
      width: 30px;
      height: 30px;
      margin-bottom: 20px;
    }
  }
}

.Button,
.Switch {
  background-color: transparent;
  border: none;
  color: var(--primary-text-color) !important;
  &:hover {
    color: var(--primary-text-color) !important;
  }
}

.Switch {
  margin: 0 20px;
}

.logout {
  padding: 0;
  background-color: transparent;
  border: none;
  img {
    width: 30px;
    height: 30px;
  }
}
