.ant-table-wrapper .ant-table {
  overflow-x: scroll;
  border-radius: 12px;
  margin: 0 30px;
  padding: 20px;
  // box-shadow: 1px 1px 1px 0px rgba(16, 25, 52, 0.4) !important;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px !important;
  background: var(--secondary-color) !important;
  border: 0.6px solid var(--primary-color);
  .ant-table-content table {
    border-top: 1px solid var(--table-border-color);
  }
  .ant-table-title {
    font-size: 25px !important;
    color: var(--primary-text-color);
  }
}
.ant-table-cell {
  color: var(--light-color);
}

.ant-table-cell:last-child {
  display: flex;
}
.ant-table-thead {
  border-top: 1px solid var(--table-border-color) !important;
  .ant-table-cell {
    background-color: var(--secondary-color) !important;
    color: var(--light-color) !important;
  }
}

.ant-table-tbody {
  .ant-table-cell-row-hover {
    color: var(--primary-text-color) !important;
    background-color: var(--table-bg-color) !important;
    overflow: hidden !important;
  }
}

.ant-table-tbody .ant-table-row:nth-child(odd) {
  background-color: var(--table-bg-color) !important;
}

// .ant-table-row:

.ant-table-row:last-child {
  .ant-table-cell-row-hover {
    &:first-child {
      border-bottom-left-radius: 12px !important;
    }
    &:last-child {
      border-bottom-right-radius: 12px !important;
    }
  }
  .ant-table-cell {
    font-weight: 400 !important;
    &:first-child {
      border-bottom-left-radius: 12px !important;
    }
    &:last-child {
      border-bottom-right-radius: 12px !important;
    }
  }
}

.ant-table-wrapper .ant-table-tbody > tr > td {
  font-weight: 400;
  border: none;
}

.ant-table-wrapper .ant-table-thead > tr > th {
  border: none;
  font-weight: 500;
}

.ant-table-wrapper
  .ant-table-thead
  > tr
  > th:not(:last-child):not(.ant-table-selection-column):not(
    .ant-table-row-expand-icon-cell
  ):not([colspan])::before {
  width: 0;
}
