@import './variables';
@import './mixins';
@import './table';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend', sans-serif;
  // font-weight: 300;
}

body {
  background: var(--primary-color) !important;
}

@font-face {
  font-weight: 400;
  font-family: 'Lexend';
  src: local('Lexend-Regular'),
    url('../shared/media/fonts/Lexend-Regular.woff2') format('woff2');
}

@font-face {
  font-weight: 500;
  font-family: 'Lexend';
  src: local('LexendMedium'),
    url('../shared/media/fonts/Lexend-Medium.woff2') format('woff2');
}

@font-face {
  font-weight: 600;
  font-family: 'Lexend';
  src: local('LexendSemiBold'),
    url('../shared/media/fonts/Lexend-SemiBold.woff2') format('woff2');
}

@font-face {
  font-weight: 700;
  font-family: 'Lexend';
  src: local('LexendBold'),
    url('../shared/media/fonts/Lexend-Bold.woff2') format('woff2');
}

@font-face {
  font-weight: 800;
  font-family: 'Lexend';
  src: local('LexendExtraBold'),
    url('../shared/media/fonts/Lexend-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-weight: 300;
  font-family: 'Lexend';
  src: local('LexendLight'),
    url('../shared/media/fonts/Lexend-Light.woff2') format('woff2');
}

.ant-layout,
.ant-layout-sider {
  background: var(--primary-color);
}
.ant-layout-sider {
  height: 100vh;
  box-shadow: 0px 8px 28px 0px rgba(1, 5, 17, 0.3);
}

.ant-layout-sider-children {
  background-color: var(--primary-color) !important;
}

:where(.css-dev-only-do-not-override-1qhpsh8).ant-layout .ant-layout-sider {
  background-color: var(--primary-color);
}

:where(.css-dev-only-do-not-override-1qhpsh8).ant-menu .ant-menu-item {
  margin-bottom: 15px !important;
}

.ant-menu-item-icon {
  width: 20px;
}

:where(.css-dev-only-do-not-override-1qhpsh8).ant-menu
  .ant-menu-item
  .anticon
  svg {
  font-size: 25px !important;
}

.ant-menu-title-content {
  font-size: 17px !important;
  margin: 10px !important;
}

.ant-layout-sider-collapsed {
  p {
    display: none;
  }
}

.ant-menu-item svg {
  font-size: 20px;
}

.ant-menu.ant-menu-inline-collapsed {
  background-color: var(--primary-color);
  color: var(--light-color);
}

.ant-menu.ant-menu-item-active {
  color: var(--primary-text-color);
  background-color: var(--secondary-color) !important;
}

.ant-menu-title-content a {
  text-decoration: none !important;
}

.ant-menu-title-content-active {
  background-color: var(--secondary-color-two);
}

.ant-menu-light.ant-menu-root.ant-menu-inline {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
}

.ant-menu-light .ant-menu-item-selected {
  background-color: var(--secondary-color);
  border-left: 5px solid var(--secondary-color-two);
  color: var(--light-color);
}

:not(.ant-menu-item-selected):hover svg {
  color: var(--primary-text-color);
}

.ant-btn.ant-btn-icon-only {
  background-color: var(--primary-color);
  color: var(--primary-text-color) !important;
}
.ant-btn.ant-btn-icon-only:hover {
  background-color: var(--primary-color) !important;
  color: var(--light-color) !important;
}

.ant-card {
  background-color: var(--card-color) !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
  margin: 10px;
}

:where(.css-dev-only-do-not-override-1qhpsh8).ant-card .ant-card-body {
  padding: 40px 24px;
}

.ant-row {
  margin: 0 !important;
}

.ant-typography {
  margin: 0 !important;
}

.ant-drawer-body {
  color: var(--secondary-color) !important;
}

.ant-drawer-body,
.ant-modal-content,
.ant-select-item-option,
button {
  :not(.ant-menu-item-selected) {
    color: var(--primary-text-color);
  }
}

.ant-drawer-body,
.ant-modal-content,
.ant-select-item-option,
button {
  :not(.ant-menu-item-selected):hover {
    color: var(--primary-text-color) !important;
  }
}
.edit {
  background-color: rgb(253, 181, 42);

  &:hover {
    background-color: rgba(253, 181, 42, 0.5) !important;
  }
}

.delete {
  background-color: rgb(255, 90, 101);

  &:hover {
    background-color: rgba(255, 90, 101, 0.5) !important;
    color: rgb(255, 90, 101) !important;
  }
}

.change-password {
  background: var(--primary-color);
  &:hover {
    background-color: var(--primary-text-color) !important;
  }
}

.ant-switch-checked {
  background-color: #000 !important;
  color: #fff !important;
}

.ant-switch {
  background-color: #fff;
  color: #000;
}

.buttons {
  @include flexBox(flex-end);
  margin: 30px 50px 10px 0px;
  button {
    border: 1px solid var(--secondary-color);
    margin: 0 5px;
    border-radius: 7px;
    background-color: var(--secondary-color);
  }
}

.filter {
  :where(.css-dev-only-do-not-override-1qhpsh8).ant-form-item
    .ant-form-item-label {
    overflow: visible;
    margin-top: 20px;
  }
  .ant-row {
    display: flex !important;
    flex-direction: column !important;
  }
}

:where(.css-dev-only-do-not-override-1qhpsh8).ant-dropdown
  .ant-dropdown-menu
  .ant-dropdown-menu-title-content
  > a:hover {
  color: var(--card-text-color) !important;
}

.ant-drawer-content {
  background-color: var(--primary-color) !important;
  color: var(--primary-text-color) !important;
}

.create {
  background-color: transparent !important;
  border: none;
  img {
    width: 30px;
    height: 30px;
  }
}

.filter_btn {
  background-color: transparent !important;
  border: none;
  img {
    width: 30px;
    height: 30px;
  }
}

.spinner {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

:where(.css-dev-only-do-not-override-1qhpsh8).ant-menu-light:not(
    .ant-menu-horizontal
  )
  .ant-menu-item:not(.ant-menu-item-selected):active {
  background-color: transparent;
}

:where(.css-dev-only-do-not-override-1qhpsh8).ant-pagination
  .ant-pagination-item:not(.ant-pagination-item-active) {
  color: var(--primary-text-color) !important;
}

.active-menu-item {
  background-color: var(--menu-selected-color);
}

:where(.css-dev-only-do-not-override-1qhpsh8).ant-pagination
  .ant-pagination-item-active {
  border-color: var(--primary-color) !important;
}
:where(.css-dev-only-do-not-override-1qhpsh8).ant-pagination
  .ant-pagination-item-active:hover {
  color: var(--card-color) !important;
}

::-webkit-scrollbar {
  appearance: none !important;
}

:where(.css-dev-only-do-not-override-1qhpsh8).ant-menu-light:not(
    .ant-menu-horizontal
  )
  .ant-menu-item:not(.ant-menu-item-selected):hover {
  background-color: transparent;
  span a {
    color: var(--primary-text-color) !important;
  }
}

.ant-modal-content {
  background-color: var(--secondary-color) !important;
  .ant-modal-header {
    background-color: var(--secondary-color) !important;
  }
}

.ant-modal-footer button span {
  color: var(--light-color) !important;
}

.ant-modal-footer button:first-child span {
  color: $neutral1 !important;
}

.ant-modal-footer button.cancel:hover {
  color: #000;
}

.ant-modal-content :not(.ant-menu-item-selected):hover {
  color: var(--primary-text-color) !important;
}

.input {
  padding: 10px;
  // background-color: rgba($color: #fff, $alpha: 0.7);
  background-color: transparent;
  border: 1px solid var(--menu-selected-color);
  color: var(--primary-text-color) !important;

  &:hover {
    // background-color: rgba($color: transparent, $alpha: 0.7);
    background-color: transparent;
  }
}

::placeholder {
  color: var(--primary-text-color) !important;
}

:where(.css-dev-only-do-not-override-1qhpsh8).ant-select-outlined:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  background-color: transparent;
}
