@import './mixins';
.table {
  margin: 0 20px;
}
.active,
.deactive {
  text-transform: lowercase;
  border-radius: 2px;
  font-size: 13px;
  padding: 5px 10px;
  font-weight: 500;
  line-height: 14px;
  width: 75px;
}

.active {
  background: rgba(5, 193, 104, 0.2);
  border: 0.6px solid rgba(5, 193, 104, 0.5);
  color: #14ca74;
}

.deactive {
  border: 0.6px solid rgba(174, 185, 225, 0.2);
  background: rgba(255, 0, 0, 0.2);
  color: red;
}

.view,
.delete,
.edit,
.resetPassword {
  padding: 5px 10px;
  margin: 5px 10px;
  border: none;
  img {
    width: 17px;
    height: 17px;
    margin-bottom: 5px;
  }
}

.view {
  background-color: rgba(0, 194, 255, 0.2);
}

.edit {
  background-color: rgba(253, 181, 42, 0.2);
}

.delete {
  background-color: rgba(255, 90, 101, 0.2);
}

.resetPassword {
  background-color: rgba(20, 202, 116, 0.2);
}

.hide {
  display: none;
}

.role {
  text-transform: lowercase;
}

.table_header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    margin: 0;
    font-weight: 600;
    color: var(--secondary-color-two) !important;
    @include sm {
      font-size: 15px;
    }
  }
}
