@import '@/styles/variables';
@import '@/styles/mixins';

.Home {
  color: var(--primary-text-color);
  margin: 20px 35px;
  @include sm {
    margin: 10px;
  }

  h3 {
    color: $white;
  }

  .card_header {
    @include flexBox(null);

    .card_title {
      margin-left: 20px;

      h3 {
        font-size: 20px;
        @include sm {
          font-size: 12px;
        }
        color: var(--primary-text-color);
      }

      p {
        color: var(--primary-text-color);
        font-weight: 400;
        margin-bottom: 5px;
      }
    }
    .hand_icon,
    .teams_icon,
    .weather_icon,
    .users_icon,
    .projects_icon,
    .reports_icon {
      @include flexBox(center);
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: var(--secondary-color-two);
      img {
        width: 30px;
        height: 30px;
      }
    }

    .teams_icon,
    .weather_icon {
      margin-right: 10px;
      background-color: RGBA(203, 60, 255, 0.2);
    }

    .users_icon {
      background-color: rgba(253, 181, 42, 0.2);
    }

    .projects_icon {
      background-color: rgba(5, 193, 104, 0.2);
    }

    .reports_icon {
      background-color: rgba(8, 108, 217, 0.2);
    }
  }

  .card_body {
    margin-top: 20px;
    font-weight: 400;
    padding-right: 40px;
    @include flexBox(null);

    span {
      color: var(--primary-text-color);
      font-weight: 400;
      font-size: 15px;
    }
  }
}
